.gridList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.gridItem {
    width: 200px;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}